.blog {
   // background-color: rgb(186, 201, 206);
   background: linear-gradient(45deg, rgba(236, 237, 241, 0.8), rgba(238, 236, 241, 0.8), rgba(240, 236, 237, 0.8)), url(../../assets/geo2.jpg);
   background-attachment: fixed;
   background-size: 50%;
   border: 1px solid black;
   padding: 3rem 0 8rem 0;
   h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
   }
}

.bodyz {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   .card {
      border: 0.5px solid rgb(124, 124, 124);
   }
   .quotes {
      width: 80vw;
      // min-height: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index: 2;
      .bg {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         opacity: 0;
         transition: all 0.5s ease-in;
         pointer-events: none;
         width: 100%;
         height: 200%;
         overflow: hidden;
      }
      .box {
         position: relative;
         width: 25vw;
         height: 30rem;
         // min-height: 320px;
         background: #ffffff;
         overflow: hidden;
         transition: all 0.5s ease-in;
         z-index: 2;
         box-sizing: border-box;
         padding: 1.25rem;
         box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
         &:hover {
            color: #f2f2f2;
            box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
         }
         &::before {
            content: '\201C';
            font-family: 'Poppins', sans-serif;
            position: absolute;
            top: -12px;
            left: 5px;
            width: 100%;
            height: 100%;
            font-size: 88px;
            opacity: 0.2;
            background: transparent;
            pointer-events: none;
         }
         &::after {
            content: '\201D';
            font-family: 'Poppins', sans-serif;
            position: absolute;
            bottom: -10%;
            right: 5%;
            font-size: 88px;
            opacity: 0.2;
            background: transparent;
            filter: invert(1);
            pointer-events: none;
         }
      }
   }
}

.quotes .box p {
   margin: 0;
   padding: 10px;
}

.quotes .box h2 {
   position: absolute;
   margin: 0;
   padding: 0;
   bottom: 10%;
   right: 10%;
   font-size: 1.5rem;
}

.quotes .box.box1:hover,
.quotes .box.box1:hover~.bg {
   opacity: 1;
   background: #e2a9e5;
   background: -moz-linear-gradient(-45deg, #aa8a8e 5%, #4b7596 100%);
   background: -webkit-linear-gradient(-45deg, #aa8a8e 5%, #4b7596 100%);
   background: linear-gradient(135deg,#aa8a8e 5%, #4b7596 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.quotes .box.box2:hover,
.quotes .box.box2:hover~.bg {
   opacity: 1;
   background: #a8b2b9;
   background: -moz-linear-gradient(-45deg,#aa8a8e 10%, #4b7596 );
   background: -webkit-linear-gradient(-45deg, #a57c81 10%, #4b7596 100%);
   background: linear-gradient(45deg,#bb6771 5%, #4b7596 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}

.quotes .box.box3:hover,
.quotes .box.box3:hover~.bg {
   opacity: 1;
   background: #afbec9;
   background: -moz-linear-gradient(-45deg,#aa8a8e 10%, #4b7596);
   background: -webkit-linear-gradient(-45deg, #aa8a8e 10%, #4b7596 100%);
   background: linear-gradient(225deg,#aa8a8e 10%, #4b7596 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
}


.blogImg {
   width: 100%;
   img {
      width: 100%;
      height: 13rem;
   }
}
.blogInfo {
   display: flex;
   flex-direction: column;
   align-content: space-between;
   h3 {
      font-size: 1.1rem;
      text-align: center;
   }
   p{
      font-size: 0.9rem;
   }
   button {
      font-size: 1rem;
      width: 50%;
      margin: 3rem auto 0 auto;
      border-radius: 2.5rem;
      padding: 0.5rem;
      a {
         text-decoration: none;
         color: black;
         text-transform: uppercase;
         font-size: 0.7rem;
         font-weight: 700;
      }
      &:hover {
         background-color: rgb(75, 74, 74);
         a { 
            color: white;
         }
      }
   }
}
