
.about {
   padding: 1rem;
   h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
   }
   p {
      font-size: 1.2rem;
   }
}

.projects {
   background-color: grey;
   padding: 1rem;
   h2 {
      font-size: 3rem;
      font-family: 'Dancing Script', cursive;
   }
}

.skills {
   padding: 1rem;
   h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
   }
}

.blog {
   background-color: grey;
   padding: 1rem;
   h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
   }
}

.copyright {
   background-color: #000;
   padding: 2rem;
   p {
      color: white;
      margin: 0;
      text-align: center;
      font-size: 1.1rem;
   }
}