
.about {
   padding: 1rem 0 3rem 0;
   // background-image: url(../../assets/subtle4.jpg);
   // background-size: 10%;
   h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
   }
   .miguel {
      width: 20%;
      float: left;
      shape-outside: circle(50%);
      margin-right: 3.5rem;
      margin-top: 1rem;
      img {
         width: 100%;
         border-radius: 50%;
         border: 0.7rem solid #2b4152;
         box-shadow: 2px 2px 10px #000;
      }
   }
   .headshot {
      overflow:hidden;
      border-right: .15em solid #2b4152;
      white-space: nowrap;
      letter-spacing: .15rem;
      animation:
      typing 3.5s steps(25,end),
      blink-caret 1s step-end infinite;
      width: 30%;
      font-weight: 700;
      color: white;
      text-shadow: 2px 2px 1px #000;
   }
   p {
      font-size: 1.2rem;
      span {
         font-family: 'Dancing Script', cursive;
         color: #2b4152;
         font-size: 2rem;
         font-weight: 700;
         letter-spacing: 1.8px;
         text-shadow: 1px 1px 1px rgb(172, 24, 24);
      }
   }
   button {
      padding: 0.5rem;
      border-radius: 5px;
      a {
         text-decoration: none;
         color: black;
         font-size: 1rem;
      }
   }
}

@keyframes typing {
   from { width: 0 }
   to { width: 50% }
}

@keyframes blink-caret {
   from, to { border-color: transparent }
   90% { border-color: #2b4152 }
}

.projects {
   // background: linear-gradient(135deg, rgba(83, 83, 83, 0.9), rgba(119, 119, 119, 0.9), rgba(238, 236, 236, 0.9), rgba(160, 158, 158, 0.9), rgba(53, 53, 53, 0.9));
   // background: linear-gradient(135deg, rgba(83, 83, 83, 0.9), rgba(119, 119, 119, 0.9), rgba(238, 236, 236, 0.9)), url(../../assets/geo2.jpg);
   background: linear-gradient(135deg, rgba(204, 204, 204, 0.9), rgba(207, 207, 207, 0.9), rgba(238, 236, 236, 0.9)), url(../../assets/geo2.jpg);
   border: 1px solid black;
   background-attachment: fixed;
   background-size: 92%;
   padding: 3rem 0 5rem 0;
   position: relative;
   .projectNav {
      // margin-top: 1rem;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
      float: right;
      .fas {
         font-size: 2rem;
         margin-right: 1.3rem;
      }
   }
   h2 {
      font-size: 3rem;
      font-family: 'Dancing Script', cursive;
   }
}



.project {
   width: 80%;
   margin: 3rem auto;
   .flexP {
      justify-content: space-between;
      .projectImg {
         width: 47%;
         border: 1rem solid rgb(39,39,39);
         background-color: white;
         // border-radius: 10px; 
         box-shadow: 2px 2px 10px #000;
         img {
            width: 100%;
         }
         &:hover {
            transition: all 1s;
         }
      }
      .projectInfo {
         width: 47%;
         text-align: center;
         // background-color: rgba(255, 255, 255, 0.7);
         // border-radius: 10px;
         padding: 1rem;
         h3,
         p {
            width: 100%;
         }
         h3 {
            font-size: 2.3rem;
            margin: 0;
            color: white;
            text-shadow: 5px 5px 1px #2b4152;
         }
         p {
            font-size: 1.3rem;
            margin:0;
         }
         button {
            padding: 0.8rem;
            background-color: black;
            border-radius: none;
            a {
               color: white; 
               text-decoration: none;
               font-size: 0.6rem;
               letter-spacing: 1.3px;
               text-transform: uppercase;
            }
            &:hover {
               background-color:white;
               a{ 
                  color: black;
               }
            }
         }
      }
   }
   
}

.projectLink {
   width: 100%;
}

.skills {
   padding: 3rem 0 8rem 0;
   h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
   }
   .wrap {
      flex-wrap: wrap;
      margin: 0 auto;
      border: 5px dashed black;
      background-color: rgb(231, 228, 228);
      justify-content: space-between;
      li{
         color: rgb(19, 50, 97);
         list-style: none;
         width: 25%;
         text-align: center;
         margin: 1rem 0 0.5rem 0;
         padding: 0.5rem;
         &:hover {
            transform: scale(1.2);
            transition: all 1.3s;
            color: black;
         }
         p {
            display: none;
         }
         i {
            font-size: 4.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            &:hover + p {
               transition: all 1.3s;
               display: block;
               margin-top: 0rem;
               margin-bottom: 0;
            }
         }
         .jquery {
            margin-top: 1rem;
         }
      }
   }
}



.blog {
   // background-color: rgb(186, 201, 206);
   background: linear-gradient(45deg, rgba(236, 237, 241, 0.8), rgba(238, 236, 241, 0.8), rgba(240, 236, 237, 0.8)), url(../../assets/geo2.jpg);
   background-attachment: fixed;
   background-size: 50%;
   border: 1px solid black;
   padding: 3rem 0 8rem 0;
   
   h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 3rem;
   }
   .flexP {
      justify-content: space-between;
      .blogPost {
         height: 28rem;
         background-color: white;
         padding: 1rem;
         width: 30%;
         box-shadow: 2px 2px 20px #000;
         display: flex;
         flex-direction: column;
         align-content: space-between;
      
         &:hover {
            transform: scale(1.3);
            box-shadow: 1px 1px 3px #000;
            transition: all 1s;
         }
         .blogInfo {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            h3 {
               font-size: 1.1rem;
               text-align: center;
            }
            p{
               font-size: 0.8rem;
            }
            button {
               font-size: 1rem;
               a {
                  text-decoration: none;
                  color: black;
               }
            }
         }
      }
   }
}

.blogImg {
   width: 100%;
   img {
      width: 100%;
      height: 13rem;
   }
}

.contact {
   padding: 1rem 0;
   margin: 2rem auto;
   .flexP {
      justify-content: space-between;
      .contactImg {
         width: 40%;
         img {
            width: 100%;
            height: 20rem;
         }
         div {
            text-align: center;
            font-size: 1rem;
            text-transform: uppercase;
            span {
               font-weight: 700;
            }
         }
      }
      .contactInfo {
         width: 50%;
         .contactNav {
            width: 100%;
         }
         h2 {
            font-family: 'Dancing Script', cursive;
            font-size: 3rem;
            margin: 0.5rem auto;
         }
      }
   }
}

.contactNav {
   li {
      margin: 0.5rem;
      font-size: 2rem;
      i {
         color: rgb(19, 50, 97);
         &:hover {
            color: grey;
            transition: all 0.3s;
         }
      }
   }
}

form {
   width: 100%;
   label {
      width: 100%;
   }
   input,
   textarea {
      width: 100%;
      margin: 0.5rem 0;
      font-size: 1rem;
      padding: 0.5rem;
   }
   button {
      padding: 0.5rem 1rem;
      border-radius: 10px;
      font-size: 1.2rem;
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
      letter-spacing: 1.6px;
      &:hover {
         background-color: grey;

      }
   }
}


.copyright {
   background-color:#2b4152;
   padding: 1rem;
   p {
      color: white;
      margin: 0;
      text-align: center;
      font-size: 1.1rem;
   }
}
