@media (max-width: 1400px) {
   .budy .wrapperS {
      margin: 10rem 0 0 12rem;
   }
}


@media (max-width: 1350px) {
   header {
      .headerTitle h1 {
         left: 15%;
      }  
   }
   .budy .wrapperS {
      margin: 10rem 0 0 10rem;
   }
   .smear {
      right: 2rem;
   }
   .smear2 {
      top: 63rem;
   }
   .smear4 {
      top: 117rem;
   }
   .smear5 {
      bottom: 8rem;
   }
}



@media (max-width: 1300px) {
   .budy .wrapperS {
      margin: 10rem 0 0 8.3rem;
   }
   .about .headshot {
      width: 40%;
   }
   .smear2 {
      top: 65rem;
   }
   .smear3 {
      top: 98rem;
   }
}

@media (max-width: 1281px) {
   .smear3 {
      top: 102rem;
   }
   .smear4 {
      top: 121rem;
   }
}


@media (max-width: 1250px) {

   .budy .wrapperS {
      margin: 10rem 0 0 10rem;
      grid-template-columns: repeat(6, 40px);
      grid-template-rows: repeat(6, 40px);
   }
   .smear2 {
      top: 67rem;
   }
   .smear4 {
      top: 123rem;
   }
}



@media (max-width: 1209px) {
   header {
      .headerTitle h1 {
         left: 14%;
      }
      
   }
   .budy .wrapperS {
      margin: 10rem 0 0 8rem;
   }
   .content .flexMe i {
      font-size: 4rem;
      margin: 1rem;
   }
   .smear3 {
      top: 103rem;
   }
}



@media (max-width: 1157px) {
   header {
      .headerTitle h1 {
         left: 13%;
      }  
   }
   .budy .wrapperS {
      margin: 10rem 0 0 6rem;
   }
}



@media (max-width: 1109px) {
   header {
      .headerTitle h1 {
         width: 75%;
      }  
   }
   .budy .wrapperS {
      margin: 10rem 0 0 4rem;
   }
   .product {
      width: 21%;
   }
   .content .flexMe i {
      margin: 2rem;
   }
   .content .flexMe .title {
      bottom: 1.5rem;
   }
   .blogImg img {
      height: 11.5rem;
   }
   .smear2 {
      top: 66rem;
   }
   .smear3 {
      top: 105rem;
   }
   .smear5 {
      bottom: 7rem;
   }
   .projects .svg2 {
      bottom: -5rem;
   }
}




@media (max-width: 1048px) {
   header {
      .headerTitle h2 {
         left: 36%;
      }
   }
   .budy .wrapperS {
      margin: 10rem 0 0 2rem;
   }
   .smear3 {
      top: 106rem;
   }
   .smear4 {
      top: 125rem;
   }
}

@media (max-width: 1000px) {
   header .headerTitle h2 {
      // color: blue;
      bottom: 17%;
   }
   .smear {
      top: 38rem;
   }
   .smear4 {
      top: 128rem;
   }
}


@media (max-width: 995px) {
   .budy .wrapperS {
      margin: 10rem -22.5rem 0 0rem;
      grid-template-columns: repeat(6, 40px);
      grid-template-rows: repeat(6, 40px);
      grid-gap: 1.5rem;
      transform: rotate(135deg);
   }
   .blogInfo button {
      margin: 1.5rem auto 0 auto;
   }
   .blogImg img {
      height: 9rem;
   }
   .bodyz .quotes .box {
      position: relative;
      width: 26vw;
      height: 27rem;
   }
   .smear {
      top: 35rem;
   }
   .smear2 {
      top: 67rem;
   }
   .smear3 {
      top: 108rem;
   }
   .projects .svg2 {
      bottom: -4rem;
   }
}

@media (max-width: 915px) {
   .budy .wrapperS {
      margin: 10rem -3.5rem 0 0rem;
   }
   .about .headshot {
      width: 50%;
   }
   .project .flexP .projectInfo p {
      font-size: 1rem;
   }
   .content .flexMe i {
      font-size: 3rem;
      margin: 1rem;
   }
   .content .flexMe .title {
      bottom: 1.5rem;
   }
   .blogInfo button {
      width: 60%;
   }
   .smear {
      top: 34rem;
      width: 19%;
   }
   .smear2 {
      top: 60rem;
   }
   .project .flexP .projectInfo {
      width: 50%;
   }
   .smear3 {
      top: 95rem;
   }
   .smear4 {
      top: 114rem;
   }
}


@media (max-width: 867px) {
   .budy .wrapperS {
      margin: 10rem 14.5rem 0 0rem;
   }
   header .topnav .flexNav {
      width: 75%;
   }
   .contact .flex {
      flex-direction: column;
   }
   .contact {
      margin-top: 2rem;
   }
   .contact .flexP .contactImg {
      width: 100%;
      img {
         height: 28rem;
      }
   }
   .contactNav .flex {
      flex-direction: row; 
      li  {
         font-size: 4rem;
      }
   }
   .contact .flexP .contactInfo {
      width: 100%;
      margin-top: 3rem;
   }
   .smear {
      top: 30rem;
   }
   .projects .svg2 {
      bottom: -3rem;
   }
}

@media (max-width: 834px) {
   .smear2 {
      top: 59rem;
   }
   .smear3 {
      top: 96rem;
   }
}


@media (max-width: 802px) {
   .about .miguel {
      float: none;
      width: 40%;
   }
   .project .flexP .projectInfo h3 {
      font-size: 2rem;
   }
   .bodyz {
      // flex-direction: column;
      justify-content: center;
   }
   .bodyz .quotes .box1,
   .bodyz .quotes .box2 {
      display: none;
   }
   .bodyz .quotes .box {
      position: relative;
      width: 100%;
      height: 34rem;
   }
      .blogInfo button {
      width: 40%;
   }
   .blogImg img {
      height: 20rem;
   }
   .smear {
      top: 33rem;
   }
   .smear2 {
      top: 58rem;
   }
   .smear3 {
      top: 94rem;
   }
   .smear5 {
      bottom: 7rem;
   }
}


@media (max-width: 791px) {
   .budy .wrapperS {
      margin: 10rem 30rem 0 0rem;
   }
   header .titleNav .topnav a {
      font-size: 14px;
      padding: 0.5rem;
   }
   header .topnav .logoContainer .logo img {
      padding-right: 1rem;
      padding-top: 0.5rem;
   }
   header .headerTitle h2 {
      left: 33%;
   }
   .about .headshot {
      width: 65%;
   }
   .smear2 {
      top: 60rem;
   }
   .smear3 {
      top: 96rem;
   }
   
}


@media (max-width: 734px) {
   .budy {
      display: none;
   }
   header .topnav .flexNav .separate {
      margin-top: 0.5rem;
   }
   header .headerTitle h2 {
      left: 30%;
   }
   .project .flex {
      flex-direction: column;  
   }
   .project .flexP .projectImg {
      width: 100%;
   }
   .project .flexP .projectInfo {
      width: 100%;
   }
   .projects .svg2 {
      bottom: -2rem;
   }
   .smear {
      top: 51rem;
      right: 3rem;
   }
   .smear2 {
      top: 73rem;
      width: 25%;
   }
   .smear3 {
      top: 143rem;
      width: 25%;
   }
   .smear4 {
      top: 165rem;
      width: 25%;
   }
   .smear5 {
      bottom: 9.8rem;
      width: 25%;
   }
}


@media (max-width: 700px) {
   .content .flexMe .title {
      bottom: 0.5rem;
   }
   .contact .flexP .contactImg {
      width: 100%;
      img {
         height: 22rem;
      }
   }
   .contactNav .flex {
      li  {
         font-size: 3rem;
      }
   }
   .smear {
      top: 50rem;
      right: 3rem;
      width: 26%;
   }
   .smear2 {
      top: 71rem;
   }
   .smear3 {
      top: 140rem;
   }
   .smear4 {
      top: 161rem;
   }
   .smear5 {
      bottom: 8.5rem;
   }
}

@media (max-width: 650px ) {
   .about h3 {
      font-size: 0.8rem;
   }
   .about p {
      font-size: 1rem;
   }
   .product {
      width: 30%;
   }
   .smear {
      top: 45rem;
   }
   .smear2 {
      top: 70rem;
   }
   .smear3 {
      top: 134rem;
   }
   .smear4 {
      top: 157rem;
   }
   .projects .svg2 {
      bottom: -1rem;
   }
}



@media (max-width: 595px) {
   header {
      .headerTitle h1 {
         font-size: 4rem;
      }
      .topnav .flexNav {
         width: 70%;
         display: none;
         .separate {
            display: none;
         }
      }
      .headerTitle h2 {
         left: 29%;
         font-size: 2rem;
      }
   }
   .smear {
      top: 44rem;
   }
   .smear2 {
      top: 69rem;
   }
   .smear3 {
      top: 133rem;
   }
   .smear4 {
      top: 151rem;
   }
}




@media (max-width: 547px) {
   header {
      .headerTitle h1 {
         font-size: 4rem;
      }
      .topnav .flexNav {
         width: 65%;
         li a {
            font-size: 11px;
         }
      }
   }
      .about .headshot {
      width: 80%;
   }
   .bodyz .quotes .box {
      height: 30rem;
   }
      .blogImg img {
      height: 15rem;
   }
   .contact .flexP .contactImg {
      img {
         height: 18rem;
      }
   }
   .contactNav .flex {
      li  {
         font-size: 2.5rem;
      }
   }
   .message .migs {
      font-size: 1.5rem;
   }
   .copyright p {
      font-size: 0.8rem;
   }
   .smear2 {
      top: 67rem;
   }
   .smear3 {
      top: 131rem;
      right: 2rem;
   }
   .smear4 {
      top: 149rem;
   }
   .projects .svg2 {
      bottom: 0rem;
   }
}

@media (max-width: 500px) {
   .smear {
      top: 43rem;
   }
   .smear3 {
      top: 130rem;
   }
}




@media (max-width: 469px) {
   header {
      height: 667px;
      .svg {
         bottom: -4.3rem;
      }
      .headerTitle {
         text-shadow: 4px 4px 1px #fff; 
      }
   }
   header .topnav .flexNav {
      width: 55%;
      flex-wrap: wrap;
   }
   header .headerTitle h2 {
         left: 25%;
         bottom: 10%;
   }
   .about h3 {
      font-size: 0.6rem;
      .work {
         margin-left: 1.5rem;
      }
   }
   .product {
      width: 45%;
   }
   .content .flexMe i {
      font-size: 4rem;
      margin: 1rem;
   }
   .bodyz .quotes .box {
      height: 25rem;
   }
      .blogImg img {
      height: 10rem;
   }
   .contact .flexP .contactImg {
      img {
         height: 15rem;
      }
   }
   .smear {
      top: 43rem;
      width: 25%;
   }
   .smear3 {
      top: 128rem;
   }
   .smear4 {
      top: 147rem;
      left: 2rem;
   }
   .smear5 {
      right: 2rem;
      bottom: 8.5rem;
   }
   
}

@media (max-width: 425px) {
   header .headerTitle h1 {
      font-size: 3.5rem;
      width: 85%;
      left: 8%;
   }
   header .svg {
      display: none;
   }
   .about .headshot {
      width: 95%;
   }
   .smear {
      top: 42rem;
   }
   .smear3 {
      top: 127rem;
   }
   .smear4 {
      top: 145rem;
   }
   
}



@media (max-width: 400px) {
   header .topnav .flexNav {
      margin-right: -2rem;
      width: 61%;
      li a {
         text-align: center;
         justify-content: center
      }
   }
   
   header {
      height: 700px;
      .headerButton {
         bottom: 5rem;
      }
      .topnav .logoContainer .logo {
         margin: 1rem auto 1rem auto;
         width: 75px;
         height: 75px;
      }
      .headerTitle {
         h1 {
            font-size: 3rem;
            bottom: 40%;
         }
         h2 {
            left: 26%;
            font-size: 1.7rem;
            bottom: 6%;
         }
      }
      .svg {
         bottom: -2.3rem;
      }
   }
   .content .flexMe i {
      font-size: 3rem;
      margin: 1rem;
   }
   .content .flexMe .title {
      display: none;
   }
   .contact .flexP .contactImg {
      img {
         height: 12rem;
      }
   }
   .contactNav .flex {
      li  {
         font-size: 1.8rem;
      }
   }
   .copyright p {
      font-size: 0.6rem;
   }
   .smear {
      top: 41rem;
      right: 1.5rem;
   }
   .smear3 {
      top: 125rem;
   }
}

@media (max-width: 375px) {
   header .svg {
      bottom: 3.7rem;
   }
   .svgz {
      display: none;
   }
   header .headerTitle h2 {
    left: 25%;
   }
}


@media (max-width: 350px) {
   header .headerTitle h2 {
    left: 24%;
   }
   .about h3 {
      .work {
         margin-left: 1rem;
      }
   }
   .smear {
      top: 39rem;
   }
   .smear2 {
      top: 69rem;
   }
   .smear3 {
      top: 128rem;
   }
}

@media (max-width: 339px) {
   .smear3 {
      top: 130rem;
   }
   .smear4 {
      top: 151rem;
   }
}

@media (max-width: 334px) {
   header .headerTitle h2 {
      left: 22%;
   }
   .smear {
      top: 42rem;
   }
   .smear2 {
      top: 72rem;
   }
   .smear3 {
      top: 132rem;
   }
}

@media (max-width: 320px) {
   header {
      .headerTitle h2 {
       left: 22%;
      }
      .headerButton {
         left: 9.2rem;
      }
   }
      
   .smear2 {
      top: 74rem;
   }
   .smear4 {
      top: 153rem;
   }
}