

.projects {
   background: linear-gradient(135deg, rgba(204, 204, 204, 0.9), rgba(207, 207, 207, 0.9), rgba(238, 236, 236, 0.9)), url(../../assets/subtle5.png);
   background-attachment: fixed;
   background-size: 202%;
   position: relative;
   padding-bottom: 6rem;
   .projectNav {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
      float: right;
      .fas {
         font-size: 2rem;
         margin-right: 1.3rem;
      }
      .arrowD:hover,
      .arrowU:hover {
         transform: scale(1.1);
      }
      .arrowU {
         margin-bottom: 0.2rem;
      }
   }
   h2 {
      font-size: 3rem;
      font-family: 'Montserrat', sans-serif;
   }
   .projectLink {
      width: 100%;
   }
   .divide { 
      margin: 0 auto;
      text-align: center;
   }
   .svg2 {
      position:absolute; 
      bottom: -7.5rem;
      z-index: 1000;
      left: 0;
      right: 0;
   }
}

.project {
   width: 80%;
   margin: 3rem auto;
   .flexP {
      justify-content: space-between;
      .projectImg {
         width: 47%;
         img {
            width: 100%;
         }
         &:hover {
            transition: all 1s;
         }
      }
      .projectInfo {
         width: 47%;
         text-align: center;
         padding: 1rem;
         .goat {
            z-index: 1001;
            position: relative;
         }
         .languages {
            color: #2b4152;
            margin-bottom: 1rem;
            i {
               font-size: 2rem;
            }
         }
         h3,
         p {
            width: 100%;
            z-index: 999;
         }
         h3 {
            font-size: 2.3rem;
            margin: 0 0 1rem 0;
            color: white;
            text-shadow: 5px 5px 1px #2b4152;
         }
         p {
            font-size: 1.3rem;
            margin:0;
            z-index: 1000;
            text-shadow: 1px 1px 2px #fff;
         }
         a {
            font-size: .9rem;
            &:focus {
                  border: 1px solid red;
               }
            &:active {
                  border: 1px solid blue;
            }
            button {
               cursor: pointer;
               text-decoration: none;
               letter-spacing: 1.3px;
               text-transform: uppercase;
               color: white; 
               padding: 0.7rem;
               background-color: black;
               margin-top: 2rem;
               z-index: 1000;
               &:hover {
                  background-color: white;
                  color: black;
               }
            }
         }
      }
   }
   
}

.smear,
.smear2,
.smear3,
.smear4,
.smear5 {
   width: 19%;
   position: absolute;
   z-index: 1;
   img {
      width: 100%;
   }
}

.smear {
   right: 3rem;
   top: 39rem;
   z-index: 1;
   transform: rotate(-25deg);
}
.smear2 {
   left: 3rem;
   top: 64rem;
   transform: rotate(-155deg);
}
.smear3 {
   right: 3rem;
   top: 95rem;
   transform: rotate(-25deg);
}
.smear4 {
   left: 3rem;
   top: 120rem;
   transform: rotate(-155deg);
}
.smear5 {
   right: 4.5rem;
   bottom: 9.5rem;
   transform: rotate(-25deg);
}