html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  -webkit-transition: all 3s;
  transition: all 3s;
  background-color: #dfdfd1;
}

.wrapperPortfolio {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  border-bottom: 5px solid #2b4152;
  width: 10rem;
  text-shadow: 2px 2px 1px #fff;
}

a[href^='http']:not([href*='yourdomain.']) {
  background: transparent url(arrow.svg) no-repeat center right;
  padding-right: 16px;
}

header {
  height: 800px;
  border: 1px solid black;
  background: linear-gradient(135deg, rgba(83, 83, 83, 0.9), rgba(119, 119, 119, 0.9), rgba(238, 236, 236, 0.9), rgba(160, 158, 158, 0.9), rgba(53, 53, 53, 0.9)), url(../../assets/geo2.jpg);
  background-attachment: fixed;
  background-size: 100%;
}

header .titleNav {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .headerTitle {
  width: 75%;
  margin: 0 auto;
  text-shadow: 10px 10px 1px #fff;
}

header .headerTitle h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 1rem;
}

header .headerTitle h2 {
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin: 0 0 15rem 0;
}

header .headerButton {
  font-size: 3rem;
  text-shadow: 1px 1px 10px #fff;
}

header .headerButton:hover {
  color: white;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.logoContainer {
  width: 10%;
}

.logoContainer .logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.logoContainer .logo img {
  margin-top: -0.5rem;
  width: 100%;
}

.menu {
  width: 90%;
}

.menu li {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.menu li::after {
  content: '*';
  color: rgba(0, 0, 0, 0);
}

.menu li:hover {
  border-bottom: 3px solid #2b4152;
}

.menu li:hover::after {
  content: '*';
  color: grey;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.menu li a:hover {
  color: #b1b0b0;
}

.about {
  padding: 1rem 0 3rem 0;
}

.about h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.about .miguel {
  width: 20%;
  float: left;
  shape-outside: circle(50%);
  margin-right: 3.5rem;
  margin-top: 1rem;
}

.about .miguel img {
  width: 100%;
  border-radius: 50%;
  border: 0.7rem solid #2b4152;
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
}

.about .headshot {
  overflow: hidden;
  border-right: .15em solid #2b4152;
  white-space: nowrap;
  letter-spacing: .15rem;
  -webkit-animation: typing 3.5s steps(25, end), blink-caret 1s step-end infinite;
          animation: typing 3.5s steps(25, end), blink-caret 1s step-end infinite;
  width: 30%;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 1px #000;
}

.about p {
  font-size: 1.2rem;
}

.about p span {
  font-family: 'Dancing Script', cursive;
  color: #2b4152;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-shadow: 1px 1px 1px #ac1818;
}

.about button {
  padding: 0.5rem;
  border-radius: 5px;
}

.about button a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  90% {
    border-color: #2b4152;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  90% {
    border-color: #2b4152;
  }
}

.projects {
  background: linear-gradient(135deg, rgba(204, 204, 204, 0.9), rgba(207, 207, 207, 0.9), rgba(238, 236, 236, 0.9)), url(../../assets/geo2.jpg);
  border: 1px solid black;
  background-attachment: fixed;
  background-size: 92%;
  padding: 3rem 0 5rem 0;
  position: relative;
}

.projects .projectNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: right;
}

.projects .projectNav .fas {
  font-size: 2rem;
  margin-right: 1.3rem;
}

.projects h2 {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}

.project {
  width: 80%;
  margin: 3rem auto;
}

.project .flexP {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .flexP .projectImg {
  width: 47%;
  border: 1rem solid #272727;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
}

.project .flexP .projectImg img {
  width: 100%;
}

.project .flexP .projectImg:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.project .flexP .projectInfo {
  width: 47%;
  text-align: center;
  padding: 1rem;
}

.project .flexP .projectInfo h3,
.project .flexP .projectInfo p {
  width: 100%;
}

.project .flexP .projectInfo h3 {
  font-size: 2.3rem;
  margin: 0;
  color: white;
  text-shadow: 5px 5px 1px #2b4152;
}

.project .flexP .projectInfo p {
  font-size: 1.3rem;
  margin: 0;
}

.project .flexP .projectInfo button {
  padding: 0.8rem;
  background-color: black;
  border-radius: none;
}

.project .flexP .projectInfo button a {
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.project .flexP .projectInfo button:hover {
  background-color: white;
}

.project .flexP .projectInfo button:hover a {
  color: black;
}

.projectLink {
  width: 100%;
}

.skills {
  padding: 3rem 0 8rem 0;
}

.skills h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.skills .wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  border: 5px dashed black;
  background-color: #e7e4e4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .wrap li {
  color: #133261;
  list-style: none;
  width: 25%;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
  padding: 0.5rem;
}

.skills .wrap li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  color: black;
}

.skills .wrap li p {
  display: none;
}

.skills .wrap li i {
  font-size: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skills .wrap li i:hover + p {
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  display: block;
  margin-top: 0rem;
  margin-bottom: 0;
}

.skills .wrap li .jquery {
  margin-top: 1rem;
}

.blog {
  background: linear-gradient(45deg, rgba(236, 237, 241, 0.8), rgba(238, 236, 241, 0.8), rgba(240, 236, 237, 0.8)), url(../../assets/geo2.jpg);
  background-attachment: fixed;
  background-size: 50%;
  border: 1px solid black;
  padding: 3rem 0 8rem 0;
}

.blog h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.blog .flexP {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .flexP .blogPost {
  height: 28rem;
  background-color: white;
  padding: 1rem;
  width: 30%;
  -webkit-box-shadow: 2px 2px 20px #000;
          box-shadow: 2px 2px 20px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.blog .flexP .blogPost:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.blog .flexP .blogPost .blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.blog .flexP .blogPost .blogInfo h3 {
  font-size: 1.1rem;
  text-align: center;
}

.blog .flexP .blogPost .blogInfo p {
  font-size: 0.8rem;
}

.blog .flexP .blogPost .blogInfo button {
  font-size: 1rem;
}

.blog .flexP .blogPost .blogInfo button a {
  text-decoration: none;
  color: black;
}

.blogImg {
  width: 100%;
}

.blogImg img {
  width: 100%;
  height: 13rem;
}

.contact {
  padding: 1rem 0;
  margin: 2rem auto;
}

.contact .flexP {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .flexP .contactImg {
  width: 40%;
}

.contact .flexP .contactImg img {
  width: 100%;
  height: 20rem;
}

.contact .flexP .contactImg div {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.contact .flexP .contactImg div span {
  font-weight: 700;
}

.contact .flexP .contactInfo {
  width: 50%;
}

.contact .flexP .contactInfo .contactNav {
  width: 100%;
}

.contact .flexP .contactInfo h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin: 0.5rem auto;
}

.contactNav li {
  margin: 0.5rem;
  font-size: 2rem;
}

.contactNav li i {
  color: #133261;
}

.contactNav li i:hover {
  color: grey;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

form {
  width: 100%;
}

form label {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0.5rem;
}

form button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  letter-spacing: 1.6px;
}

form button:hover {
  background-color: grey;
}

.copyright {
  background-color: #2b4152;
  padding: 1rem;
}

.copyright p {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1.1rem;
}

.bodyz {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quotes {
  width: 80vw;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.quotes .box {
  position: relative;
  width: 25vw;
  height: 50vh;
  min-height: 320px;
  background: #f2f2f2;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  -webkit-box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}

.quotes .box::before {
  content: '\201C';
  position: absolute;
  top: -20px;
  left: 5px;
  width: 100%;
  height: 100%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  pointer-events: none;
}

.quotes .box::after {
  content: '\201D';
  position: absolute;
  bottom: -10%;
  right: 5%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  -webkit-filter: invert(1);
          filter: invert(1);
  pointer-events: none;
}

.quotes .box p {
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
}

.quotes .box h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 10%;
  right: 10%;
  font-size: 1.5rem;
}

.quotes .box:hover {
  color: #f2f2f2;
  -webkit-box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.quotes .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  pointer-events: none;
  width: 100%;
  height: 200%;
  overflow: hidden;
}

.quotes .box.box1:hover,
.quotes .box.box1:hover ~ .bg {
  opacity: 1;
  background: #e2a9e5;
  background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.quotes .box.box2:hover,
.quotes .box.box2:hover ~ .bg {
  opacity: 1;
  background: #632c65;
  background: linear-gradient(135deg, #632c65 15%, #56a5e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}

.quotes .box.box3:hover,
.quotes .box.box3:hover ~ .bg {
  opacity: 1;
  background: #4b384c;
  background: linear-gradient(135deg, #4b384c 15%, #da5de2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
}
/*# sourceMappingURL=styles.css.map */