html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: black;
  -webkit-transition: all 3s;
  transition: all 3s;
  background-color: #f0f0e5;
}

.wrapperPortfolio {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  border-bottom: 5px solid #2b4152;
  width: 10rem;
  text-shadow: 5px 5px 1px #fff;
}

header {
  height: 800px;
  background: linear-gradient(135deg, rgba(83, 83, 83, 0.9), rgba(119, 119, 119, 0.9), rgba(238, 236, 236, 0.9), rgba(160, 158, 158, 0.9), rgba(53, 53, 53, 0.9)), url(../../assets/subtle5.png);
  background-attachment: fixed;
  background-size: 200%;
}

header .titleNav {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2000;
}

header .titleNav .topnav a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

header .titleNav .topnav a.icon {
  float: right;
  font-size: 2rem;
}

header .titleNav li a {
  float: left;
}

header .titleNav a .icon {
  float: right;
}

header .topnav {
  overflow: hidden;
  width: 100%;
  background-color: white;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .topnav .logoContainer {
  width: 10%;
}

header .topnav .logoContainer .logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

header .topnav .logoContainer .logo img {
  margin-top: -0.5rem;
  margin-left: 1rem;
  width: 100%;
}

header .topnav .flexNav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .topnav .flexNav .separate {
  font-size: 1rem;
  margin-top: 1rem;
}

header .topnav .flexNav li a::after {
  content: '*';
  color: rgba(0, 0, 0, 0);
}

header .topnav .flexNav li:hover a {
  color: grey;
  text-decoration: underline;
}

header .topnav .flexNav li:hover a::after {
  content: '*';
  color: red;
}

header .myContact {
  background-color: #e7e6e6;
}

header .myContact:hover {
  background-color: #c4c3c3;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .myContact:hover a {
  text-decoration: none;
}

header .svg {
  position: absolute;
  bottom: -1.3rem;
  z-index: 0;
}

header .head {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerTitle {
  margin: 0 auto;
  text-shadow: 8px 8px 1px #fff;
}

header .headerTitle h1 {
  width: 70%;
  font-size: 5rem;
  text-align: center;
  margin: 3rem 0 0 rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position: absolute;
  bottom: 50%;
  left: 16%;
  z-index: 1000;
}

header .headerTitle h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  margin: 2rem 0 10rem 0;
  position: absolute;
  bottom: 30%;
  left: 40%;
  z-index: 1000;
}

header .headerButton {
  font-size: 3rem;
  text-shadow: 1px 1px 10px #fff;
  z-index: 1000;
  position: absolute;
  bottom: 2rem;
}

header .headerButton:hover {
  color: white;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  text-shadow: 1px 1px 10px #c7c5c5;
}

.align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  z-index: -1;
}

.menu {
  width: 90%;
}

.menu li {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.menu li::after {
  content: '*';
  color: rgba(0, 0, 0, 0);
}

.menu li:hover {
  border-bottom: 3px solid #2b4152;
}

.menu li:hover::after {
  content: '*';
  color: grey;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.menu li a:hover {
  color: #b1b0b0;
}

.budy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: url("https://i.ibb.co/6bycCv7/Ellipse-4.png"), default;
  height: 30%;
  width: 30%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.budy .wrapperS {
  margin: 10rem 0 0 13.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px)[7];
      grid-template-columns: repeat(7, 40px);
  -ms-grid-rows: (40px)[7];
      grid-template-rows: repeat(7, 40px);
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  grid-gap: 2rem;
}

.budy .wrapperS .itemz {
  background-color: #f0f0e5;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.about {
  padding: 1rem 0 3rem 0;
}

.about h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.about .miguel {
  width: 20%;
  float: left;
  shape-outside: circle(50%);
  margin: 1rem 2rem 1rem 0;
}

.about .miguel img {
  width: 100%;
  border-radius: 50%;
  border: 0.7rem solid #2b4152;
  -webkit-box-shadow: 2px 2px 10px #000;
          box-shadow: 2px 2px 10px #000;
}

.about .headshot {
  overflow: hidden;
  border-right: .15em solid #2b4152;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  letter-spacing: .15rem;
  -webkit-animation: typing 3.5s steps(25, end), blink-caret 1s step-end infinite;
          animation: typing 3.5s steps(25, end), blink-caret 1s step-end infinite;
  width: 30%;
  font-weight: 700;
  color: #2b4152;
  text-shadow: 4px 4px 1px #b8b7b7;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: 'Work Sans', sans-serif;
}

.about p .frontend {
  color: #2b4152;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .15rem;
  text-shadow: 4px 4px 1px #b8b7b7;
}

.about p span {
  letter-spacing: 1.3px;
  font-weight: 500;
  font-size: 1.3rem;
}

.about h3 {
  font-size: 1.2rem;
  margin: 2rem 0;
  font-family: 'Montserrat', sans-serif;
}

.about h3 .work {
  background-color: #ac1818;
  color: white;
  text-shadow: 2px 2px 1px #000;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
  padding: 0.6rem;
  text-transform: uppercase;
  margin-left: 1rem;
}

.about button {
  padding: 1rem 1rem 0.8rem 1rem;
  -webkit-box-shadow: 3px 3px 10px #000;
          box-shadow: 3px 3px 10px #000;
  border-radius: 20px;
  float: right;
  background-color: black;
  color: white;
}

.about button a {
  text-decoration: none;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: none;
  color: white;
}

.about button:hover {
  background-color: #ac1818;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  90% {
    border-color: #2b4152;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  90% {
    border-color: #2b4152;
  }
}

.projects {
  background: linear-gradient(135deg, rgba(204, 204, 204, 0.9), rgba(207, 207, 207, 0.9), rgba(238, 236, 236, 0.9)), url(../../assets/subtle5.png);
  background-attachment: fixed;
  background-size: 202%;
  position: relative;
  padding-bottom: 6rem;
}

.projects .projectNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: right;
}

.projects .projectNav .fas {
  font-size: 2rem;
  margin-right: 1.3rem;
}

.projects .projectNav .arrowD:hover,
.projects .projectNav .arrowU:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects .projectNav .arrowU {
  margin-bottom: 0.2rem;
}

.projects h2 {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}

.projects .projectLink {
  width: 100%;
}

.projects .divide {
  margin: 0 auto;
  text-align: center;
}

.projects .svg2 {
  position: absolute;
  bottom: -6rem;
  z-index: 1000;
}

.project {
  width: 80%;
  margin: 3rem auto;
}

.project .flexP {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .flexP .projectImg {
  width: 47%;
}

.project .flexP .projectImg img {
  width: 100%;
}

.project .flexP .projectImg:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.project .flexP .projectInfo {
  width: 47%;
  text-align: center;
  padding: 1rem;
}

.project .flexP .projectInfo .goat {
  z-index: 1000;
}

.project .flexP .projectInfo h3,
.project .flexP .projectInfo p {
  width: 100%;
  z-index: 1000;
}

.project .flexP .projectInfo h3 {
  font-size: 2.3rem;
  margin: 0 0 1rem 0;
  color: white;
  text-shadow: 5px 5px 1px #2b4152;
}

.project .flexP .projectInfo p {
  font-size: 1.3rem;
  margin: 0;
  z-index: 1000;
}

.project .flexP .projectInfo button {
  padding: 0.8rem;
  background-color: black;
  border-radius: none;
  margin-top: 2rem;
  z-index: 1000;
}

.project .flexP .projectInfo button a {
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.project .flexP .projectInfo button:hover {
  background-color: white;
}

.project .flexP .projectInfo button:hover a {
  color: black;
}

.smear {
  width: 20%;
  position: absolute;
  right: 3rem;
  top: 39rem;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.smear img {
  width: 100%;
}

.smear2 {
  width: 20%;
  position: absolute;
  left: 3rem;
  top: 64rem;
  -webkit-transform: rotate(-155deg);
          transform: rotate(-155deg);
}

.smear2 img {
  width: 100%;
}

.smear3 {
  width: 20%;
  position: absolute;
  right: 3.5rem;
  top: 95rem;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  z-index: 999;
}

.smear3 img {
  width: 100%;
}

.smear4 {
  width: 20%;
  position: absolute;
  left: 3rem;
  top: 120rem;
  -webkit-transform: rotate(-155deg);
          transform: rotate(-155deg);
}

.smear4 img {
  width: 100%;
}

.smear5 {
  width: 20%;
  position: absolute;
  right: 4.5rem;
  bottom: 13rem;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  z-index: 999;
}

.smear5 img {
  width: 100%;
}

.skills {
  padding: 3rem 0 8rem 0;
}

.skills h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.skills .bodyzzz {
  background-color: white;
  border: 0.4rem dashed #000;
  padding: 2rem;
  width: 100%;
}

.skills .bodyzzz .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1vw auto;
  position: relative;
  text-align: center;
}

.product {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-size: 1.5rem;
  margin: 0.5rem auto;
  position: relative;
  width: 16%;
}

.product .effect-1,
.product .effect-2 {
  display: none;
  mix-blend-mode: multiply;
  height: 84%;
  opacity: 1;
  position: absolute;
  width: 84%;
  z-index: 3000;
}

.product .effect-1 {
  -webkit-animation: rotate 1.8s linear infinite;
          animation: rotate 1.8s linear infinite;
  background: #2b4152;
}

.product .effect-2 {
  animation: rotate 1.2s linear reverse infinite;
  background: #c44242;
}

.product:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.product:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.product:hover .effect-1,
.product:hover .effect-2 {
  display: block;
}

.content {
  background: white;
  height: 84%;
  margin: 8%;
  position: absolute;
  width: 84%;
  vertical-align: middle;
  z-index: 5000;
}

.content .flexMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .flexMe i {
  color: #133261;
  font-size: 5rem;
  margin: 2rem;
}

.content .flexMe .title {
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
  display: none;
  font-family: 'Montserrat', sans-serif;
}

.content .flexMe .title span {
  display: block;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  margin-top: 8px;
  text-transform: uppercase;
}

.content:hover div i {
  color: #c44242;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.content:hover .title {
  display: block;
}

@-webkit-keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }
  25% {
    top: 8%;
    left: 0%;
  }
  50% {
    top: 16%;
    left: 8%;
  }
  75% {
    top: 8%;
    left: 16%;
  }
  100% {
    top: 0;
    left: 8%;
  }
}

@keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }
  25% {
    top: 8%;
    left: 0%;
  }
  50% {
    top: 16%;
    left: 8%;
  }
  75% {
    top: 8%;
    left: 16%;
  }
  100% {
    top: 0;
    left: 8%;
  }
}

.blog {
  background: linear-gradient(45deg, rgba(236, 237, 241, 0.8), rgba(238, 236, 241, 0.8), rgba(240, 236, 237, 0.8)), url(../../assets/geo2.jpg);
  background-attachment: fixed;
  background-size: 50%;
  padding: 0rem 0 12rem 0;
  z-index: -10000;
}

.blog .spacing {
  margin-top: -3rem;
}

.blog .spacing h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.bodyz {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bodyz .quotes {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.bodyz .quotes .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  pointer-events: none;
  width: 100%;
  height: 200%;
  overflow: hidden;
}

.bodyz .quotes .box {
  position: relative;
  width: 25vw;
  height: 30rem;
  background: #ffffff;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.25rem;
  -webkit-box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}

.bodyz .quotes .box:hover {
  color: #f2f2f2;
  -webkit-box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.bodyz .quotes .box::before {
  content: '\201C';
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: -12px;
  left: 5px;
  width: 100%;
  height: 100%;
  font-size: 88px;
  opacity: 0.2;
  background: transparent;
  pointer-events: none;
}

.bodyz .quotes .box::after {
  content: '\201D';
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: -10%;
  right: 5%;
  font-size: 88px;
  opacity: 0.2;
  background: transparent;
  -webkit-filter: invert(1);
          filter: invert(1);
  pointer-events: none;
}

.quotes .box p {
  margin: 0;
  padding: 10px;
}

.quotes .box h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 10%;
  right: 10%;
  font-size: 1.5rem;
}

.quotes .box.box1:hover,
.quotes .box.box1:hover ~ .bg {
  opacity: 1;
  background: #e2a9e5;
  background: linear-gradient(135deg, #aa8a8e 5%, #4b7596 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.quotes .box.box2:hover,
.quotes .box.box2:hover ~ .bg {
  opacity: 1;
  background: #a8b2b9;
  background: linear-gradient(45deg, #aa8a8e 5%, #4b7596 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}

.quotes .box.box3:hover,
.quotes .box.box3:hover ~ .bg {
  opacity: 1;
  background: #afbec9;
  background: linear-gradient(225deg, #aa8a8e 10%, #4b7596 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
}

.blogImg {
  width: 100%;
}

.blogImg img {
  width: 100%;
  height: 13rem;
}

.blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.blogInfo h3 {
  font-size: 1.1rem;
  text-align: center;
}

.blogInfo p {
  font-size: 0.9rem;
}

.blogInfo button {
  font-size: 1rem;
  width: 50%;
  margin: 3rem auto 0 auto;
  border-radius: 2.5rem;
  padding: 0.5rem;
}

.blogInfo button a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

.blogInfo button:hover {
  background-color: #4b4a4a;
}

.blogInfo button:hover a {
  color: white;
}

.miggy {
  margin-top: -10rem;
}

.contact {
  padding: 1rem 0;
  margin: -4rem auto 2rem auto;
}

.contact .flexP {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .flexP .contactImg {
  width: 40%;
}

.contact .flexP .contactImg img {
  width: 100%;
  height: 20rem;
  border: 1px solid #7c7b7b;
}

.contact .flexP .contactImg div {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.contact .flexP .contactImg div span {
  font-weight: 700;
}

.contact .flexP .contactInfo {
  width: 50%;
}

.contact .flexP .contactInfo .contactNav {
  width: 100%;
}

.contact .flexP .contactInfo h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin: 0.5rem auto;
}

.contactNav li {
  margin: 0.5rem;
  font-size: 2rem;
}

.contactNav li i {
  color: #133261;
}

.contactNav li i .iconz {
  display: none;
  font-size: 0.5rem;
}

.contactNav li i:hover {
  color: #c44242;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

form {
  width: 100%;
}

form label {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0.5rem;
}

form button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  letter-spacing: 1.6px;
  background-color: black;
  margin-top: 1.5rem;
  color: white;
}

form button:hover {
  background-color: grey;
}

.message {
  text-align: center;
  margin-top: 5rem;
}

.message p {
  font-size: 1rem;
}

.message h4 {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.message .migs {
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  text-decoration: underline;
}

.message .migs a {
  color: black;
}

.message .migs:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  text-shadow: 2px 2px 1px #000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.message .migs:hover a {
  color: #e26666;
  text-decoration: none;
}

.copyright {
  background-color: #2b4152;
  padding: 1rem;
}

.copyright p {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 1.1rem;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.choreo p {
  position: fixed;
  top: 100px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.choreo #boxy {
  margin: 0 0;
  width: 100%;
  height: 500vh;
  background: black;
  opacity: 0.2;
}

@media (max-width: 1400px) {
  .budy .wrapperS {
    margin: 10rem 0 0 12rem;
  }
}

@media (max-width: 1350px) {
  .budy .wrapperS {
    margin: 10rem 0 0 10rem;
  }
}

@media (max-width: 1350px) {
  header .headerTitle h1 {
    left: 15%;
  }
  .budy .wrapperS {
    margin: 10rem 0 0 10rem;
  }
}

@media (max-width: 1300px) {
  .budy .wrapperS {
    margin: 10rem 0 0 8.3rem;
  }
  .about .headshot {
    width: 40%;
  }
}

@media (max-width: 1250px) {
  .budy .wrapperS {
    margin: 10rem 0 0 10rem;
    -ms-grid-columns: (40px)[6];
        grid-template-columns: repeat(6, 40px);
    -ms-grid-rows: (40px)[6];
        grid-template-rows: repeat(6, 40px);
  }
}

@media (max-width: 1209px) {
  header .headerTitle h1 {
    left: 14%;
  }
  .budy .wrapperS {
    margin: 10rem 0 0 8rem;
  }
  .content .flexMe i {
    font-size: 4rem;
    margin: 1rem;
  }
}

@media (max-width: 1157px) {
  header .headerTitle h1 {
    left: 13%;
  }
  .budy .wrapperS {
    margin: 10rem 0 0 6rem;
  }
}

@media (max-width: 1109px) {
  header .headerTitle h1 {
    width: 75%;
  }
  .budy .wrapperS {
    margin: 10rem 0 0 4rem;
  }
  .product {
    width: 21%;
  }
  .content .flexMe i {
    margin: 2rem;
  }
  .content .flexMe .title {
    bottom: 1.5rem;
  }
  .blogImg img {
    height: 11.5rem;
  }
}

@media (max-width: 1048px) {
  header .headerTitle h2 {
    left: 36%;
  }
  .budy .wrapperS {
    margin: 10rem 0 0 2rem;
  }
}

@media (max-width: 995px) {
  .budy .wrapperS {
    margin: 10rem -22.5rem 0 0rem;
    -ms-grid-columns: (40px)[6];
        grid-template-columns: repeat(6, 40px);
    -ms-grid-rows: (40px)[6];
        grid-template-rows: repeat(6, 40px);
    grid-gap: 1.5rem;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .blogInfo button {
    margin: 1.5rem auto 0 auto;
  }
  .blogImg img {
    height: 9rem;
  }
  .bodyz .quotes .box {
    position: relative;
    width: 26vw;
    height: 27rem;
  }
}

@media (max-width: 915px) {
  .budy .wrapperS {
    margin: 10rem -3.5rem 0 0rem;
  }
  .about .headshot {
    width: 50%;
  }
  .project .flexP .projectInfo p {
    font-size: 1rem;
  }
  .content .flexMe i {
    font-size: 3rem;
    margin: 1rem;
  }
  .content .flexMe .title {
    bottom: 1.5rem;
  }
  .blogInfo button {
    width: 60%;
  }
}

@media (max-width: 867px) {
  .budy .wrapperS {
    margin: 10rem 14.5rem 0 0rem;
  }
  header .topnav .flexNav {
    width: 75%;
  }
  .contact .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact {
    margin-top: 2rem;
  }
  .contact .flexP .contactImg {
    width: 100%;
  }
  .contact .flexP .contactImg img {
    height: 28rem;
  }
  .contactNav .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contactNav .flex li {
    font-size: 4rem;
  }
  .contact .flexP .contactInfo {
    width: 100%;
    margin-top: 3rem;
  }
}

@media (max-width: 802px) {
  .about .miguel {
    float: none;
    width: 40%;
  }
  .project .flexP .projectInfo h3 {
    font-size: 2rem;
  }
  .bodyz {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bodyz .quotes .box1,
  .bodyz .quotes .box2 {
    display: none;
  }
  .bodyz .quotes .box {
    position: relative;
    width: 100%;
    height: 34rem;
  }
  .blogInfo button {
    width: 40%;
  }
  .blogImg img {
    height: 20rem;
  }
}

@media (max-width: 791px) {
  .budy .wrapperS {
    margin: 10rem 30rem 0 0rem;
  }
  header .titleNav .topnav a {
    font-size: 14px;
    padding: 0.5rem;
  }
  header .topnav .logoContainer .logo img {
    padding-right: 1rem;
    padding-top: 0.5rem;
  }
  header .headerTitle h2 {
    left: 33%;
  }
  .about .headshot {
    width: 65%;
  }
}

@media (max-width: 734px) {
  .budy {
    display: none;
  }
  header .topnav .flexNav .separate {
    margin-top: 0.5rem;
  }
  header .headerTitle h2 {
    left: 30%;
  }
  .project .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .flexP .projectImg {
    width: 100%;
  }
  .project .flexP .projectInfo {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .content .flexMe .title {
    bottom: 0.5rem;
  }
  .contact .flexP .contactImg {
    width: 100%;
  }
  .contact .flexP .contactImg img {
    height: 22rem;
  }
  .contactNav .flex li {
    font-size: 3rem;
  }
}

@media (max-width: 650px) {
  .about h3 {
    font-size: 0.8rem;
  }
  .about p {
    font-size: 1rem;
  }
  .product {
    width: 30%;
  }
}

@media (max-width: 595px) {
  header .headerTitle h1 {
    font-size: 4rem;
  }
  header .topnav .flexNav {
    width: 70%;
    display: none;
  }
  header .topnav .flexNav .separate {
    display: none;
  }
  header .headerTitle h2 {
    left: 29%;
    font-size: 2rem;
  }
}

@media (max-width: 547px) {
  header .headerTitle h1 {
    font-size: 4rem;
  }
  header .topnav .flexNav {
    width: 65%;
  }
  header .topnav .flexNav li a {
    font-size: 11px;
  }
  .about .headshot {
    width: 80%;
  }
  .bodyz .quotes .box {
    height: 30rem;
  }
  .blogImg img {
    height: 15rem;
  }
  .contact .flexP .contactImg img {
    height: 18rem;
  }
  .contactNav .flex li {
    font-size: 2.5rem;
  }
  .message .migs {
    font-size: 1.5rem;
  }
  .copyright p {
    font-size: 0.8rem;
  }
}

@media (max-width: 469px) {
  header .topnav .flexNav {
    width: 55%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .headerTitle h2 {
    left: 25%;
  }
  .about h3 {
    font-size: 0.6rem;
  }
  .about h3 .work {
    margin-left: 1.5rem;
  }
  .product {
    width: 45%;
  }
  .content .flexMe i {
    font-size: 4rem;
    margin: 1rem;
  }
  .bodyz .quotes .box {
    height: 25rem;
  }
  .blogImg img {
    height: 10rem;
  }
  .contact .flexP .contactImg img {
    height: 15rem;
  }
}

@media (max-width: 425px) {
  header .headerTitle h1 {
    font-size: 3.5rem;
    width: 85%;
    left: 8%;
  }
  .about .headshot {
    width: 95%;
  }
}

@media (max-width: 400px) {
  header .topnav .flexNav {
    margin-right: -2rem;
    width: 61%;
  }
  header .topnav .flexNav li a {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .headerTitle h1 {
    font-size: 3rem;
  }
  header .headerTitle h2 {
    left: 22%;
    font-size: 1.7rem;
  }
  header .svg {
    bottom: -2.3rem;
  }
  .content .flexMe i {
    font-size: 3rem;
    margin: 1rem;
  }
  .content .flexMe .title {
    display: none;
  }
  .contact .flexP .contactImg img {
    height: 12rem;
  }
  .contactNav .flex li {
    font-size: 1.8rem;
  }
  .copyright p {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  .about h3 .work {
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */